# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Pytest cache
.cache/

# Operating System files
.DS_Store
Thumbs.db

# Environment & virtual environments
env/
venv/
ENV/

# PyTorch cached models or checkpoints (if you're saving these)
model/checkpoints/

# Log files
*.log
